<table style="font-family: Arial, Helvetica, sans-serif; border-spacing: 0">
  <tr style="border-spacing: 0">
    <td style="padding: 0">
      <a href="https://quiver.co.uk" target="_blank">
        <img
          src="https://bucket.mailersendapp.com/0r83ql3eyx4zw1jm/pxkjn41wm6lz7815/images/96a92d6a-cd4c-40ec-8fbd-f59f7ef00dd9.gif"
          height="112"
          width="103"
          alt=""
        />
      </a>
    </td>
    <td style="padding-left: 14px">
      <span
        style="
          display: block;
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          padding-bottom: 1px;
          padding-left: 3px;
        "
        >Louis Collar-Smith</span
      >
      <span
        style="
          display: block;
          font-weight: 500;
          color: #666666;
          font-size: 13px;
          line-height: 16px;
          padding-left: 3px;
        "
        >Founder</span
      >
      <table style="display: block; padding-top: 4px; border-spacing: 0">
        <tr>
          <td style="padding: 0">
            <a
              href="https://www.linkedin.com/company/quiver-co/"
              target="_blank"
            >
              <img
                src="https://bucket.mailersendapp.com/0r83ql3eyx4zw1jm/pxkjn41wm6lz7815/images/96a93fa0-d8b0-4a31-b1b0-8f9ad3a181b5.png"
                height="22"
                width="22"
                alt=""
              />
            </a>
          </td>
          <td style="padding: 0 0 0 3px">
            <a href="https://quiver.co.uk/" target="_blank">
              <img
                src="https://bucket.mailersendapp.com/0r83ql3eyx4zw1jm/pxkjn41wm6lz7815/images/96a93fcc-b1a6-4b2c-94ca-d0fdb6c6ddae.png"
                height="22"
                width="22"
                alt=""
              />
            </a>
          </td>
          <td style="padding: 0 0 0 3px">
            <a href="https://calendly.com/louis-collar-smith/" target="_blank">
              <img
                src="https://bucket.mailersendapp.com/0r83ql3eyx4zw1jm/pxkjn41wm6lz7815/images/96a94672-61cf-4723-9510-61925afc75c6.png"
                height="22"
                width="22"
                alt=""
              />
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
